/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0px;
    /* background: #F2F0DA; */
    background: #eee;
    font-family: 'Lora',sans-serif;
    color: #202A32;
}

div.container {
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 50px;
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
    font-size: 2.5rem;
}

.chart-1 {
    margin-bottom: 50px;
    
}

.forest{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

#tree-svg {
    align-content: center;
}

text{
    font-family: Helvetica, sans-serif;
} 

.tree-num {
    font-weight: 600;
}


.chart-2 {
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

}

#hdr-c2 {
    margin-bottom: 0;
}

.tree-titles {
    font-weight: 800;
}

.testimony-table{
    align-content: center;
    margin: auto;
    max-width: 93vw;    
}

.testimony-header {
    height: 30px;
}

#testimony-table-content{
    overflow-y: scroll;
    max-height:100%;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    margin-bottom: 100px;
    height: 200px;

}

.testimony-header, .testimony-row {
    display: flex;
    flex-direction: row;
}
.testimony-header > div, .testimony-row > div {
    width: 25%;
    padding: 5px;
}
.testimony-header > div {
    background: #202A32;
    color: white;
    font-weight: bold;
}

#byline {
    line-height: 1.3;
    max-width: 700px;
    margin: auto;
    padding-top: 1rem;
}

hr {
    width: 700px;
}

#footer {
    align-content: center;
    font-weight: 400;
    font-size: .8rem;
    margin: auto;
    margin-bottom: 50px;
}

p {
    line-height: 1.3;
    max-width: 700px;
    margin: auto;
    padding-top: 1rem;
}

svg#bar-chart {
    margin: auto;
    padding-top: 50px;
}

g.axis-x > g.tick > text {
    transform: translate(17px, 22px) rotateZ(60deg);
}

g.axis-x, g.axis-y {
    font-size: 10pt;
    font-family: Helvetica, sans-serif;
}
    
rect.bar {
    fill: #96AD88;
}

.marker {
    font-size: 8pt;
    /* transform: rotateX(90deg); */
}

div.annotation {
    height: 100vh;
    width: 100vw;
    background: transparent;
    left: 0px;
    display: flex;
    align-items: center;
}

div.annotation > div.box {
    position: absolute;
    min-width: 30vw;
    max-width: 35vw;
    /* width: 300px; */
    /* height: 100px; */
    min-height: 12vw;
    margin-left: 55vw;
    background: white;
    box-shadow: -2px 2px 4px #666;
    padding: 15px;
    /* overflow: auto; */
    display: inline-block;

}

div.box > div.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
div.box > div.text {
    font-size: 14px;
    line-height: 1.3;
}

div#tooltip-bars{
    display: none;
    font-family: "Lora", sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 140px;
    height: 100px;
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: -1px 1px 4px #888;
    overflow-y:auto;
}

div#tooltip-bars > div {
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: 500;
}


/* unvisited link */
a:link {
    color: #515953;
  }
  
  /* visited link */
  a:visited {
    color: #515953
  }
  
  /* mouse over link */
  a:hover {
    /* color: hotpink; */
    background: rgb(150, 173, 136, 0.2);
  }
  
  /* selected link */
  a:active {
    color: #C9443C;
  }

